/*
		VARIABLES
*/
$colorBackground: rgba(33, 37, 41, 1);
$colorContainer: rgba(52, 58, 64, 1);
$colorPrimary: rgba(204, 237, 255, 1);
$colorSecondary: rgba(211, 249, 216, 1);
$colorText: rgba(241, 243, 245, 1);

$fontSize: 100%;
$fontSizePrint: 10pt;
$fontStack: "Avenir Next", "Avenir", "Open Sans", "Segoe UI", sans-serif;
$fontStackMono: monospace;
$fontWeightThick: 700;
$fontWeightThin: 400;

$lineHeight: 1.375;

$justifyText: 30rem;

$maxWidthImage: 64rem;
$maxWidthText: 40rem;

$dividerColor: rgba(134, 142, 150, 1);
$dividerThin: 0.0625rem solid $dividerColor;

/*
		TYPOGRAPHY
*/
html {
	font-family: $fontStack;
	font-feature-settings: "kern" 1;
	font-size: $fontSize;
	line-height: $lineHeight;
	@media print {
		font-size: $fontSizePrint;
	}
}

b,
strong {
	font-weight: $fontWeightThick;
}

code {
	display: block;
	font-family: $fontStackMono;
	font-size: 0.75rem;
	line-height: $lineHeight / 0.75;
	white-space: pre-wrap;
	word-wrap: break-word;
}

em {
	font-style: italic;
}

h1 {
	font-size: 2rem;
	font-weight: $fontWeightThick;
	margin: ($lineHeight * 2rem) auto ($lineHeight * 2rem);
	text-align: center;
	a:link,
	a:visited,
	a:hover,
	a:active {
		color: $colorText;
		text-decoration: none;
	}
}

h2 {
	font-size: 1.5rem;
	font-weight: $fontWeightThick;
	margin: ($lineHeight * 2rem) auto;
	page-break-after: avoid;
	text-align: center;
	a:link,
	a:visited,
	a:hover,
	a:active {
		color: $colorText;
		text-decoration: none;
	}
}

h3,
h4,
h5,
h6 {
	font-size: 1rem;
	font-weight: $fontWeightThick;
	margin: 0 auto;
	page-break-after: avoid;
	text-align: left;
	a:link,
	a:visited,
	a:hover,
	a:active {
		color: $colorText;
		text-decoration: none;
	}
}

li {
	font-weight: $fontWeightThin;
	margin-left: 1rem;
	a:link,
	a:visited,
	a:hover,
	a:active {
		color: $colorPrimary;
		font-weight: $fontWeightThick;
		text-decoration: none;
		@media print {
			color: $colorText;
			font-weight: $fontWeightThin;
		}
	}
	a:visited {
		color: $colorSecondary;
		@media print {
			color: $colorText;
		}
	}
}

ol {
	list-style: decimal outside;
	margin: 0 auto ($lineHeight + rem);
	padding: 0;
	page-break-inside: avoid;
}

p {
	font-weight: $fontWeightThin;
	margin: 0 auto ($lineHeight + rem);
	text-align: left;
	a:link,
	a:visited,
	a:hover,
	a:active {
		color: $colorPrimary;
		font-weight: $fontWeightThick;
		text-decoration: none;
		@media print {
			color: $colorText;
			font-weight: $fontWeightThin;
		}
	}
	a:visited {
		color: $colorSecondary;
		@media print {
			color: $colorText;
		}
	}
	a[href]:after {
		@media print {
			content: " (" attr(href) ")";
		}
	}
}

sub {
	font-size: 75%;
	position: relative;
	top: 0.25rem;
	vertical-align: baseline;
}

sup {
	font-size: 75%;
	position: relative;
	top: -0.375rem;
	vertical-align: baseline;
}

ul {
	list-style: circle outside;
	margin: 0 auto ($lineHeight + rem);
	padding: 0;
	page-break-inside: avoid;
}


/*
		TYPOGRAPHIC CONTAINERS
*/
blockquote,
pre {
	background-color: $colorContainer;
	margin: 0 auto ($lineHeight + rem);
	padding: ($lineHeight + rem) 1rem ($lineHeight + rem);
	:last-child {
		margin-bottom: 0;
	}
}


/*
		ELEMENTS
*/
*,
*:before,
*:after {
	box-sizing: inherit;
}

html {
	background-color: $colorBackground;
	box-sizing: border-box;
	color: $colorText;
}

body {
	margin: 0;
	overflow-wrap: break-word;
	-webkit-text-size-adjust: 100%;
	-ms-text-size-adjust: 100%;
}


/*
		MEDIA
*/
figure {
	margin: 0 auto ($lineHeight + rem);
	padding: 0;
	page-break-inside: avoid;
	width: 100%;
	figcaption {
		font-size: 0.75rem;
		text-align: center;
	}
	img {
		margin-bottom: 0;
	}
	&.half {
		max-width: $maxWidthText;
		width: 50%;
	}
	&.halfLeft {
		float: left;
		margin-bottom: 0;
		margin-right: 8px;
		width: 50%
	}
	&.halfRight {
		float: right;
		margin-bottom: 0;
		margin-left: 8px;
		width: 50%;
	}
	&.quarterLeft {
		float: left;
		margin-bottom: 0;
		margin-right: 8px;
		width: 25%;
	}
	&.quarterRight {
		float: right;
		margin-bottom: 0;
		margin-left: 8px;
		width: 25%;
	}
}

img {
	display: block;
	margin: 0 auto ($lineHeight + rem);
	padding: 0;
	page-break-inside: avoid;
	width: 100%;
}

video {
	display: block;
	margin: 0 auto ($lineHeight + rem);
	padding: 0;
	page-break-inside: avoid;
	width: 100%;
	&.half {
		max-width: $maxWidthText;
		width: 50%;
	}
}


/*
	TKR VARIATIONS
*/
body {
	&.error {
		p {
			text-align: center;
			a:visited {
				color: $colorPrimary
			}
			@media (min-width: $justifyText) {
				text-align: center;
			}
		}
	}
	&.index {
		h2 {
			border-bottom: $dividerThin;
			border-top: $dividerThin;
			margin: ($lineHeight + rem) auto;
			max-width: 21.5rem; // Calculated based upon widest li
			&:first-of-type {
				margin-top: ($lineHeight * 2rem)
			}
		}
		li {
			margin-left: 0;
			text-align: center;
			@media (min-width: $justifyText) {
				text-align: center;
			}
		}
		ul {
			list-style: none;
		}
	}
}

main {
	h1,
	h2,
	h3,
	h4,
	h5,
	h6,
	ol,
	p,
	ul {
		max-width: $maxWidthText;
		width: 90%;
	}
	h3,
	h4,
	h5,
	h6,
	ol,
	p,
	ul {
		@media (min-width: $justifyText) {
			hyphens: auto;
			-ms-hyphens: auto;
			-webkit-hyphens: auto;
			text-align: justify;
		}
	}
}

blockquote,
pre {
	max-width: $maxWidthText;
	width: 90%;
}

figure {
	max-width: $maxWidthImage;
	img {
		@media (min-width: 64.125rem) {
			border-radius: 0.25rem;
		}
	}
}

footer {
	border-top: $dividerThin;
	margin: 0 auto;
	max-width: ($maxWidthText / 2);
	width: 75%;
	p {
		font-size: 0.75rem;
		line-height: $lineHeight * 2;
		margin-bottom: 0;
		text-align: center;
	}
}

header {
	margin: 0 auto;
	max-width: $maxWidthImage;
	width: 90%;
	h1 {
		font-size: 2.5rem;
		margin: 12vmax auto;
	}
}

.bandcamp {
	margin: 0 auto ($lineHeight + rem);
	max-width: $maxWidthText;
	width: 100%;
}

.youtube {
	margin: auto;
	max-width: $maxWidthImage;
	position: relative;
	padding-bottom: 56.25%;
	overflow: hidden;
	height: auto;
	margin-bottom: 16px;
}

.youtube iframe {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}
