<!doctype html>
<html lang="en-us">
<head>
	<meta charset="utf-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />

	<title>{{.Doc.title}}</title>

	<meta name="description" content="The Krueger Report, by Paul Krueger" />
	<meta name="author" content="Paul Krueger" />

	<link rel="stylesheet" href="/krueger2019.css" />
	<link rel="apple-touch-icon" href="/images/apple-touch-icon.png">
	<link rel="alternate" type="application/rss+xml" title="The Krueger Report" href="/updates.xml" />
</head>
<body class="{{.Doc.type}}">
	<header class="{{.Doc.category}}">
		<h1><a href="/">{{.Doc.title}}</a></h1>
	</header>
	<main>
{{.Doc.body}}
	</main>
	<footer>
		<p>Page updated {{.Doc.updated}}.</p>
	</footer>
</body>
</html>
